.logo{
	positon: relative;
}



h1{
	color:#337ab7;
	clear:both;
}
body {
  font-size: 1.2em;
}
/*table config*/
.table>thead>tr>th{
	background-color: rgba(19, 7, 243, 0.54);
}

td{
background-color: rgba(239, 253, 6, 0.29);
}
tr.success>td{
	background-color: rgba(9, 72, 239, 0.3);
}
tr.primary>td{
	background-color: rgb(7, 132, 239);
}
/*-------*/
div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 2em;
}

div.tabs {
  margin: 10px;
}

.activeTab {
  font-weight: bold;
  margin: 10px;
}
.container{
	border:none;
	width: 94%;
    border-color: rgba(19, 7, 243, 0.54);/*#337ab7;*/
    border-width: 2px;
    margin: 0 auto;

}

div.introText{
	font-size: 2em;
	margin: 10px ;
	color:#337ab7;
}
table{
	float: auto;
	font-size: 1.5em;
}
.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th{
	border:solid 1px;
	border-color: rgba(19, 7, 243, 0.54);
}
#realTime{
	color: red;
	text-align: center;
}
