<div id="eventDetail" ng-controller='EventDetailController as ctrl'>
	<div class="introText">{{ctrl.activeEvent.name}} session details:</div>
	<div class= "container">
		<div>Note:</div>
		<div class ="text-primary">Text color for the transcription from presenter </div>
		<div class ="text-danger">Text color for the transcription from audience</div>
		<table class="table table-bordered">
			<tr>
			<thead>
				<th>Time</th>
				<th>Tag</th>
			</thead>
			</tr>
			<tr id="sessionStart" class ="success">
				<td> {{ctrl.activeEvent.startTime | date:'HH:mm:ss':'GMT-7'}}</td>
				<td>Event Started</td>
			</tr>
			<tr ng-repeat="tag in ctrl.tags" ng-if="tag.hasOwnProperty('tag')&&(tag.tag.length)">
				<td>{{tag.recordDate| date:'HH:mm:ss':'GMT-7'}}</td> 
				 <td ng-class="{'text-primary': tag.androidID=='b8a9953125a933af','text-danger':tag.androidID=='1'}"> {{tag.tag}}</td>
			</tr>

			<tr id="sessionEnd" class="danger">
				<td>{{ctrl.activeEvent.endTime| date:'HH:mm:ss':'GMT-7'}}</td>
				<td>Event ended</td>
			</tr>
		</table>
	</div>
	
	
</div>
