<div>This is Schedule content</div>
<div id="schedule" ng-controller='ScheduleController as sct'>
	<div ng-repeat="e in sct.events">
		<div id="container"> 
				<div id="eventName">EventName: {{e.name}} </div>
				<div id="speaker"> Speaker: {{e.speaker}}</div>
				<div id="timeExpect"> start: {{e.startTime|date:"HH:mm":'GMT-7'}} - end:{{e.endTime | date:"HH:mm":'GMT-7'}}</div>
				<div id="status"> Status: {{e.status}}</div>
				<button ng-if="e.isdone" ng-click="sct.gotoDetail(e)">See event detail </div>
		</div>
	</div>
</div>